<table border="1" cellpadding="1" cellspacing="1" style="height:240px; width:800px">
    <tbody>
        <tr>
            <td>
            <h1 style="text-align:center"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><span style="font-size:18px"><strong>Ansible month-5 lab demo</strong></span></span></h1>
 
            <p style="text-align:center">This month we covered ansible roles (defaults, files, handlers, meta, tasks, templates, tests, vars)</p>
 
            <p style="text-align:center"><strong><span style="font-size:20px">{{ iis_your_name }}</span></strong></p>
 
            <p style="text-align:center"><strong><span style="font-size:20px">{{ inventory_hostname_short }}</span></strong></p>
            </td>
        </tr>
    </tbody>
</table>